/* Importación de las fuentes */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Shippori+Antique+B1&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/* Cuerpo */
body{
	background-image: url(../img/Ing2022-intro.png);
	background-position: center;
	background-size: cover;
	overflow:hidden;
}

/* Contenedor */
#container{
	width:100vw;
	height:100vh;
	animation-name: oscurecerse;
	animation-duration: 1.5s;
	background: rgb(0,0,0,0.5);
	color:#fff;
}
/* Animación del contenedor */
@keyframes oscurecerse{
	from{background: rgb(0,0,0,0);}
	to{background: rgb(0,0,0,0.5);}
}

/* Contenedor de los elementos en el centro */
#centro{
	position: relative;left: 10vw;right:10vw;top:10vh;bottom: 10vh;
	width:80vw;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	animation-name: aparecer;
	animation-duration: 1s;
}

/* Logo del león */
#logo{
	width: 10vw;
}
/* Título principal */
h1{
	font-size: 62px;
	font-family: 'Shippori Antique B1', sans-serif;
	text-align: center;
}
/* Título 2 */
#centro > h2{
	font-size: 36px;
	font-family: 'Playfair Display', serif;
	text-align: center;
}

/* Todo lo que está en el medio */
#centro > h2, #centro > h1, #centro > a, #centro >h3{
	margin-bottom: 40px;
}

/* Botones */
.boton {
 cursor: pointer;
 font-weight: 700;
 font-family: Helvetica,"sans-serif";
 transition: all .2s;
 padding: 10px 20px;
 border-radius: 100px;
 border: 1px solid transparent;
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-size: 15px;
 width:15vw;
 height: 7vh;
}

.boton > img {
	width: 15%;
}

.boton > svg {
 width: 34px;
 margin-left: 10px;
 transition: transform .3s ease-in-out;
}

.boton:hover svg {
 transform: translateX(5px);
}

.boton:active {
 transform: scale(0.95);
}
a{
	text-decoration: none;
}

/* Primer boton */
#conocenos{
	background: #cfef00;
}
#conocenos:hover {
 	background: #a6c900;
}

/* Segundo boton */
#instagram{
	background: #FF0500;
}
#instagram:hover{
	background: #C50500;
}
/* Tercer botón */
#threads{
	background: #EEE;
}
#threads:hover{
	background: #AAA;
}

/* Último botón */
#crear{
	background: #FFDB00;
}
#crear:hover{
	background: #C9AF00;
}

/* Animación del centro */
@keyframes aparecer{
	from{
		position:relative;
		top:25vh;
		visibility: hidden;
	}
	to{
		position: relative;
		top:10vh;
		visibility: visible;
	}
}

/* Resposive design */
@media only screen and (max-width: 349px){
	h1{
		font-size: 48px;
	}
}