/* Botón de atrás */
#atras {
	display: flex;
	height: 4em;
	width: 100px;
	align-items: center;
	justify-content: center;
	background-color: #eeeeee4b;
	border-radius: 3px;
	letter-spacing: 1px;
	transition: all 0.2s linear;
	cursor: pointer;
	border: none;
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
   }
   
   #atras > svg {
	margin-right: 5px;
	margin-left: 5px;
	font-size: 20px;
	transition: all 0.4s ease-in;
   }
   
   #atras:hover > svg {
	font-size: 1.2em;
	transform: translateX(-5px);
   }
   
   #atras:hover {
	box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
	transform: translateY(-2px);
   }

/* Boton de Whastapp */
   #whatsapp > .boton{
        background-color: #40C351;
   }
   #whatsapp > .boton:hover{
        background-color: #40A251;
   }

/* Boton de formulario */
   #inscripcion >.boton{
        background-color: #72E2B9;
   }
   #inscripcion >.boton:hover{
        background-color: #72B0B9;
   }

/* Boton de Resoluciones */
    #youtube >.boton{
        background-color: #FE0000;
    }
    #youtube >.boton:hover{
        background-color: #CA0000;
    }